[Unit]
Description=WPA supplicant
Before=network.target
StartLimitIntervalSec=0

[Service]
Type=dbus
BusName=fi.epitest.hostap.WPASupplicant
Restart=always
RestartSec=1
ExecStart=/sbin/wpa_supplicant -u -s -O /run/wpa_supplicant -c/etc/wpa_supplicant.conf -iwlan1

[Install]
WantedBy=multi-user.target
Alias=dbus-fi.epitest.hostap.WPASupplicant.service
